{% extends 'inventory/welcome_page.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'my_static/index.css' %}"



{% block left_side %}

    <div class="ui vertical menu" id="warehouse_menu">
        <a href='/αποθήκη/'class="active item">Home</a>
        <a href="/αποθήκη/προιόντα/" class="item">Προιόντα</a>
        <a href="/αποθήκη/προμηθευτές/" class="item">Προμηθευτές</a>
        <a href="/αποθήκη/τιμολόγια/" class="item">Τιμολόγια</a>
    </div>
{% endblock %}



{% block center %}

    <div class="ui grid" id="warehouse_center">

        <div class="row">
            <div class="ui right floated main menu">
                <div class="header item">
                    <h2>Τελευταίες Καταχωρήσεις σε Προιόντα</h2>
                </div>
                <div class="item"></div>
                <a href="/admin/products/product/add/" class="popup icon item" id="my_button" data-content="Προσθήκη Προϊόντος">
                    <i class="add square green icon"></i>
                </a>
            </div>


            <table class="ui red table">
                <thead>
                    <tr>

                        <td>Ονομασία</td>
                        <td>Κωδικός Τιμολογίου</td>
                        <td>Προμηθευτής</td>
                        <td>Τιμή Αγοράς</td>
                        <td>Έκπτωση</td>
                    </tr>
                </thead>
                <tbody>
                    {% for ele in products %}
                        <tr>
                            <td>{{ ele.title }}</td>
                            <td>{{ ele.description }}</td>
                            <td>{{ ele.supplier }}</td>
                            <td>{{ ele.price_buy }}</td>
                            <td>{{ ele.ekptosi }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a style="width:100%" href="/admin/products/product/" class="ui button">Admin Προϊόντα</a></td>
                    </tr>
                    
                </tbody>
            </table>
            <div class="ui inverted divider"></div>
        </div>




        <div class="row">
            
            <div class="ui right floated main menu">
                    <div class="header item">
                        <h2>Τελευταίες Καταχωρήσεις,Προμηθευτές</h2>
                    </div>
                    <div class="item"></div>
                    <a href="/admin/products/supply/add/" class="popup icon item" id="my_button" data-content="Προσθήκη Προμηθευτή">
                        <i class=" add user green icon"></i>
                    </a>
                </div>
            

            <table class="ui red table">
                <thead>
                    <tr>
                        <td>Ονομασία</td>
                        <td>Τηλέφωνο</td>
                        <td>Τηλέφωνο</td>
                        <td>Fax</td>
                        <td>Email</td>
                    </tr>
                </thead>
                <tbody>
                    {% for ele in vendors %}
                        <tr>
                            <td>{{ ele.title }}</td>
                            <td>{{ ele.phone }}</td>
                            <td>{{ ele.phone1 }}</td>
                            <td>{{ ele.fax }}</td>
                            <td>{{ ele.email }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a style="width:100%" href="/admin/products/supply/" class="ui button">Admin Προμηθευτές</a></td>
                    </tr>

                </tbody>
            </table>
            <div class="ui inverted divider"></div>
        </div>

        <div class="row">
            <div style="margin-top: 2%;" class="header">
                <div class="ui right floated main menu">
                    <div class="header item">
                        <h2>Τελευταίες Καταχωρήσεις σε Τιμολόγια</h2>
                    </div>
                    <div class="item"></div>
                    <a href="/αποθήκη/τιμολόγια/νέο/" class="popup icon item" id="my_button" data-content="Προσθήκη Τιμολογίου">
                        <i class="file text outline green icon"></i>
                    </a>
                </div>
            </div>

            <table class="ui red table">
                <thead>
                    <tr>
                        <th>Ημερομηνία</th>
                        <th>Αριθμός Παραστατικού</th>
                        <th>Προμηθευτής</th>
                        <th>Καθαρή Αξία</th>
                        <th>ΦΠΑ</th>
                        <th>Τελική Αξία</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ele in orders %}
                        <tr>
                            <td>{{ ele.date }}</td>
                            <td>{{ ele.code }}</td>
                            <td>{{ ele.vendor }}</td>
                            <td>{{ ele.total_price_after_discount }}</td>
                            <td>{{ ele.total_taxes }}</td>
                            <td>{{ ele.total_price }}</td>
                        </tr>
                    {% endfor %}
                        <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a style="width:100%" href="/admin/inventory_manager/order/" class="ui button">Admin Τιμολόγια</td>
                    </tr>

                </tbody>
            </table>
            <div class="ui inverted divider"></div>
        </div>
    </div>


{% endblock %}




{% block right_side %}


    <div class="ui left floated main menu">
        <div class="header item">
            <h4>Τελευταίο Τιμολόγιο</h4>
        </div>
        <a href="/αποθήκη/τιμολόγια/επεξεργασία/{{ last_order.id }}/">
            <div class="ui icon button">
                <i class="file green big icon"></i>
            </div>
        </a>

    </div>
{% endblock %}


